# Copyright 2024 ff, Scalytics, Inc. - https://www.scalytics.io
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=kafSIEM browser watchdog
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/kafsiem
ExecStart=/bin/bash /opt/kafsiem/scripts/browser_watchdog.sh
